{% extends 'temp_base/adm.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}Registros{% endblock %}
{% block imagem_adm %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block painel_adm %}
<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="{% url 'core:inicio' %}" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-back-left"></i><b>BC</b></span>
            <span class="pcoded-mtext">Inicio</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>

</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-layers-alt"></i><b>BC</b></span>
            <span class="pcoded-mtext">Salas</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="{% url 'escola:escola_salas' escola.slug %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Salas</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-user"></i><b>BC</b></span>
            <span class="pcoded-mtext">Professores</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="{% url 'escola:escola_professores' escola.slug %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Professores</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-ruler-pencil"></i><b>BC</b></span>
            <span class="pcoded-mtext">Registros</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="{% url 'escola:escola_registro_meses' slug=escola.slug %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Registros</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-write"></i><b>BC</b></span>
            <span class="pcoded-mtext">Relatórios</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="#" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Relatórios</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class=" ">
                <a href="{% url 'escola:escola_painel_relatorios' bimestre='1º_Bimestre' slug=escola.slug %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">1º Bimestre</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class=" ">
                <a href="{% url 'escola:escola_painel_relatorios' bimestre='2º_Bimestre' slug=escola.slug %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">2º Bimestre</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>

{% endblock %}
{% block trilha %}
<h4 class="h4 mb-0 text-secondary font-weight-bold text-uppercase">Registro de Atividades</h4>
{% endblock %}
{% block conteudo_adm %}
<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5 class="h5 mb-3 col-12 col-md-12 text-secondary text-uppercase font-weight-bold">Escola: {{sala.escola}}</h5>
            <div class="row">
                <div class="mb-1 col-6 col-md-6 text-secondary font-weight-bold">Sala: {{sala}}</div>
                <div class="mb-1 col-6 col-md-6 text-secondary font-weight-bold">Ano: {{sala.ano}}</div>
                <div class="col-6 col-md-6 text-secondary text-capitalize font-weight-bold">Turno: {{sala.turno}}</div>
                <div class="col-6 col-md-6 text-secondary font-weight-bold">Total de Alunos: {{sala.total_alunos}}</div>
            </div>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 10%;" class="font-weight-bold text-center"></th>
                        <th scope="col" style="width: 30%;" class="font-weight-bold text-center"></th>
                        <th scope="col" class="font-weight-bold"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for registro in mes %}
                    <tr>
                        <td rowspan="4" class="bg-primary align-middle text-center font-weight-bold">{{registro.data}}</td>
                        <td class="font-italic">PRÁTICAS QUE POSSIBILITAM:</td>
                        <td>{{registro.pratica}}</td>
                    </tr>
                    <tr>
                        <td class="font-italic">CAMPOS DE EXPERIÊNCIAS:</td>
                        <td>{{registro.campo}}</td>
                    </tr>
                    <tr>
                        <td class="font-italic">OBJETOS DE APRENDIZAGEM:</td>
                        <td>{{registro.objeto}}</td>
                    </tr>
                    <tr>
                        <td class="font-italic">PROFESSOR(A): </td>
                        <td>{{registro.professor}}</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                        </td>
                    </tr>
                    {% empty %}
                    <p class="text-danger">Sem registros...</p>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script_pro %}
{% endblock %}

<!-- Escola -->
{% block imagem %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block conteudo %}
<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h4 class="h4 text-uppercase font-weight-bold text-primary">Registro de Atividades</h4>
            <div class="row">
                <div class="h6 mb-1 col-6 col-md-6 text-secondary font-weight-bold">Sala: {{sala}}</div>
                <div class="h6 mb-1 col-6 col-md-6 text-secondary font-weight-bold">Ano: {{sala.ano}}</div>
                <div class="h6 mb-1 col-6 col-md-6 text-secondary text-capitalize font-weight-bold">Turno: {{sala.turno}}</div>
                <div class="h6 mb-1 col-6 col-md-6 text-secondary font-weight-bold">Total de Alunos: {{sala.total_alunos}}</div>
            </div>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 10%;" class="font-weight-bold text-center"></th>
                        <th scope="col" style="width: 30%;" class="font-weight-bold text-center"></th>
                        <th scope="col" class="font-weight-bold"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for registro in mes %}
                    <tr>
                        <td rowspan="4" class="bg-primary align-middle text-center font-weight-bold">{{registro.data}}</td>
                        <td class="font-italic">PRÁTICAS QUE POSSIBILITAM:</td>
                        <td>{{registro.pratica}}</td>
                    </tr>
                    <tr>
                        <td class="font-italic">CAMPOS DE EXPERIÊNCIAS:</td>
                        <td>{{registro.campo}}</td>
                    </tr>
                    <tr>
                        <td class="font-italic">OBJETOS DE APRENDIZAGEM:</td>
                        <td>{{registro.objeto}}</td>
                    </tr>
                    <tr>
                        <td class="font-italic">PROFESSOR(A): </td>
                        <td>{{registro.professor}}</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                        </td>
                    </tr>
                    {% empty %}
                    <p class="text-danger">Sem registros...</p>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script%}
{% endblock %}