{% extends 'temp_base/adm.html' %}
{% load static %}
{% block titulo %}Avaliações por Escola{% endblock %}
{% block imagem1_adm %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block imagem2_adm %}
<img src="{% if escola.imagem %}{{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block tema_adm %}
<h3 class="m-b-10">{{escola}}</h3>
<p class="m-b-0">Lista de avaliações</p>
{% endblock %}
{% block breadcrumbs_adm %}
{{block.super}}
<li class="breadcrumb-item"><a href="#">Escola</a></li>
<li class="breadcrumb-item"><a href="#">Avaliações</a></li>
{% endblock %}
{% block painel_adm %}
<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="{% url 'core:inicio' %}" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-back-left"></i><b>BC</b></span>
            <span class="pcoded-mtext">Inicio</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-layers-alt"></i><b>BC</b></span>
            <span class="pcoded-mtext">Salas</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="{% url 'escola:escola_salas' escola.slug %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Salas</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-bookmark-alt"></i><b>BC</b></span>
            <span class="pcoded-mtext">Avaliação</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="{% url 'escola:avaliacoes_escola' escola.slug %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Avaliações</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class=" ">
                <a href="#" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Notas</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-user"></i><b>BC</b></span>
            <span class="pcoded-mtext">Professores</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="{% url 'escola:escola_professores' escola.slug %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Professores</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}
{% block conteudo_adm %}
{% for avaliacao in avaliacoes %}
<div class="col-xl-6 col-md-6">
    <div class="card">
        <div class="card-block">
            <div class="row align-items-center">
                <div class="col-8">
                    <h5 class="text-c-purple">{{avaliacao.descricao |slice:":28"}}</h5>
                    <h6 class="text-muted m-b-0">{{avaliacao.ano}}</h6>
                    <h6 class="text-muted m-b-0" style="margin-top: 10px;">Encerra: {{avaliacao.data_encerramento}}</h6>
                </div>
                <div class="col-4 text-right">
                    <i class="fa fa-file-text-o f-28"></i>
                </div>
            </div>
        </div>
        <div class="card-footer bg-c-blue">
            <a href="{% url 'escola:escola_avaliacao_salas' id_avaliacao=avaliacao.id slug=escola.slug %}">
            <div class="row align-items-center">
                <div class="col-9">
                    <h6 class="text-white m-b-0">Avaliacao</h6>
                </div>
                <div class="col-3 text-right">
                    <i class="fa fa-external-link text-white f-16"></i>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
{% empty %}
<p>Não há nada</p>
{% endfor %}
{% endblock %}