{% extends 'temp_base/prova.html' %}
{% load bootstrap4 %}
{% load static %}
{% block titulo %}Refazer Avaliação{% endblock %}

{% block prova %}
    <!-- Basic table card start -->
    <div class="card-header text-center">
        <div class="container">
        <h3 class="display-6">{{aluno.sala.escola}}</h3>
        <span><code>* Fazer avaliação novamente</code></span>

        <h4>{{aluno}}</h4>
        <h6>{{gabarito.avaliacao}}</h6>
        <h6>{{aluno.sala}} - {{aluno.sala.ano}}</h6>
        </div>
        </div>
<hr>
<div class="container">
       <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ formset.management_form }}
          {% for form in formset %}
           {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                    {% endfor %}
           {% if form.instance.texto %}
            <h6>{{ forloop.counter }} <br><br> {{ form.instance.texto }}</h6>
            <div class="text-center" style="margin:2%;">
                <img class="img-fluid" src="{{form.instance.imagem_prova.thumbnail.url}}">
            </div>
            <h6>{{ form.instance.questao }}</h6>
           {% elif  form.instance.imagem_prova %}
           <h6>{{ forloop.counter }}</h6>
           <div class="text-center" style="margin:2%;">
                <img class="img-fluid" src="{{form.instance.imagem_prova.thumbnail.url}}">
            </div>
           <h6>{{ form.instance.questao }}</h6>
           {% else %}
           <h6>{{ forloop.counter }} - {{ form.instance.questao }}</h6>
           {% endif %}
            {% for field in form.visible_fields %}
              <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
              </div>
            {% endfor %}
           <hr>
          {% endfor %}
          <button type="submit" class="btn btn-outline-info" style="margin-bottom:10px;"><i class="far fa-hdd"></i> Salvar </button>
        </form>
        </div>
    </div>
{% endblock %}