{% extends 'temp_base/adm.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}Questões{% endblock %}
{% block imagem1_adm %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block imagem2_adm %}
<img src="{% if escola.imagem %}{{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block painel_adm %}
{{block.super}}
<!--<div class="pcoded-navigation-label">Funcionários</div>-->
<!--<ul class="pcoded-item pcoded-left-item">-->
<!--    <li class="pcoded-hasmenu">-->
<!--        <a href="javascript:void(0)" class="waves-effect waves-dark">-->
<!--            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>BC</b></span>-->
<!--            <span class="pcoded-mtext">Funcionários</span>-->
<!--            <span class="pcoded-mcaret"></span>-->
<!--        </a>-->
<!--        <ul class="pcoded-submenu">-->
<!--            <li class=" ">-->
<!--                <a href="{% url 'funcionario:adicionar_funcionario' %}" class="waves-effect waves-dark">-->
<!--                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>-->
<!--                    <span class="pcoded-mtext">Adicionar Funcionário</span>-->
<!--                    <span class="pcoded-mcaret"></span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class=" ">-->
<!--                <a href="{% url 'funcionario:lista_funcionarios' %}" class="waves-effect waves-dark">-->
<!--                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>-->
<!--                    <span class="pcoded-mtext">Lista de Funcionários</span>-->
<!--                    <span class="pcoded-mcaret"></span>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->
<!--</ul>-->
{% endblock %}
{% block tema_adm %}
<h3 class="m-b-10">Questões</h3>
{% endblock %}
{% block breadcrumbs_adm %}
{{block.super}}
<li class="breadcrumb-item"><a href="#">Lista</a></li>
{% endblock %}
{% block conteudo_adm %}
<div class="col-sm-12">
  <div class="card">
  <div class="card-block table-border-style">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>QUESTAO</th>
          <th>AVALIAÇÂO</th>
          <th>EDITAR</th>
          <th>DELETAR</th>

        </tr>
        </thead>
{% for questao in questoes %}
        <tbody>
        <tr>
          <td>{{questao}}</td>
          <td>{{questao.avaliacao}}</td>
          <td>
              <a href="{% url 'avaliacao:edit_questao' pk=questao.pk %}" class="btn btn-outline-primary btn-sm">
              <i class="fas fa-edit"></i>Editar
            </a>
          </td>
          <td>
              <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#{{questao.id}}">
              <i class="far fa-trash-alt"></i> Excluir
            </button>

            <div class="modal fade" id="{{questao.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle1">Deletar {{questao}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h5>Tem certeza que deseja excluir?</h5>
                    <hr>
                    <h6>{{questao}}</h6>
                    <h6>{{questao.avaliacao}}</h6>
                    <h6>{{questao.avaliacao.ano}}</h6>
                  </div>
                  <div class="modal-footer">
                    <form method="post" action="{% url 'avaliacao:deletar_questao' questao.pk %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Deletar</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </td>
        </tr>
        </tbody>
{% empty %}
<p>Nenhuma avaliacao cadastrada</p>
{% endfor %}
      </table>
    </div>
  </div>
</div>
</div>
{% endblock %}