{% extends 'temp_base/adm.html' %}
{% load static %}
{% block titulo %}Painel de Controle{% endblock %}
{% block imagem1 %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block imagem2 %}
<img src="{% if escola.imagem %}{{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block tema %}
<h5 class="m-b-10">Avaliação</h5>
<p class="m-b-0">Painel destinado ao administrador da escola</p>
{% endblock %}
{% block breadcrumbs %}
{{block.super}}
<li class="breadcrumb-item"><a href="#">Avaliação</a></li>
{% endblock %}
{% block conteudo %}
{% for avaliacao in avaliacoes %}
<div class="col-xl-6 col-md-6">
    <div class="card">
        <div class="card-block">
            <div class="row align-items-center">
                <div class="col-8">
                    <h5 class="text-c-purple">{{avaliacao.descricao}}</h5>
                    <h6 class="text-muted m-b-0">{{avaliacao.ano}}° Ano</h6>
                </div>
                <div class="col-4 text-right">
                    <i class="fa fa-file-text-o f-28"></i>
                </div>
            </div>
        </div>
        <div class="card-footer bg-c-blue">
            <a href="{% url 'avaliacao:avaliar' avaliacao_id=avaliacao.id sala_id=sala.id %}">
            <div class="row align-items-center">
                <div class="col-9">
                    <h6 class="text-white m-b-0">Avaliacao</h6>
                </div>
                <div class="col-3 text-right">
                    <i class="fa fa-external-link text-white f-16"></i>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
{% empty %}
<p>Não há nada</p>
{% endfor %}
{% endblock %}