{% extends 'temp_base/adm.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}Adicionar Registro {% endblock %}
{% block imagem_pro %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block conteudo_pro %}
<div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <div class="card">
        <div class="card-header">
            <h4 class="h4 text-primary font-weight-bold text-uppercase text-center">Registro semanal de atividades</h4>
            <h6 class="h6 text-primary font-weight-bold text-uppercase text-center">{{sala}} - {{sala.ano}}</h6>
            <h6 class="h6 text-primary font-weight-bold text-uppercase text-center"><div id="dataset"></div></h6>
        </div>
        <div class="card-block">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ form.data.id_for_label }}">Data</label>
                        {{ form.data }}
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ form.data_fim.id_for_label }}">Data Fim</label>
                        {{ form.data_fim }}
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.pratica.id_for_label }}">Prática</label>
                    {{ form.pratica }}
                </div>
                <div class="form-group">
                    <label for="{{ form.campo.id_for_label }}">Campo</label>
                    {{ form.campo }}
                </div>
                <div class="form-group">
                    <label for="{{ form.objeto.id_for_label }}">Objeto</label>
                    {{ form.objeto }}
                </div>
                <hr>
                <button type="submit" class="btn btn-outline-info btn-block">Salvar Registro</button>
            </form>

        </div>
    </div>
    <!-- Basic Form Inputs card end -->
</div>
{% endblock %}
{% block script_pro %}
<script>
    // JavaScript para converter e preencher o campo de data com a data recebida em kwargs
    document.addEventListener('DOMContentLoaded', function() {
        var dataRecebida = '{{ data }}'; // Supondo que o valor seja passado como uma string formatada (exemplo: '2024-03-12')
        var campoData = document.getElementById('id_data'); // Substitua 'id_data' pelo ID real do campo de data

        // Converte a data para o formato dia/mês/ano
        if (dataRecebida) {
            var partesData = dataRecebida.split('-');
            if (partesData.length === 3) {
                var dataFormatada = partesData[2] + '/' + partesData[1] + '/' + partesData[0];
                campoData.value = dataFormatada;
                document.getElementById("dataset").innerHTML = dataFormatada;
            }
        }
    });
</script>
{% endblock %}
