{% extends 'temp_base/adm.html' %}
{% load bootstrap4 %}
{% load static %}
{% block titulo %}Relatórios por Aluno{% endblock %}
{% block estatico %}
<style>
.table td,
.table th {
	padding: 0.5rem 0rem 0.5rem 1rem;
}
</style>
{% endblock %}
{% block imagem_pro %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block conteudo_pro %}

<div class="col-sm-12">
  <!-- Button trigger modal -->
  <div class="card">
    <div class="card-header">
            <h5 class="h5 text-uppercase font-weight-bold text-primary">Relatórios de Observações - {{bimestre}}</h5>
            <div class="row">
                <div class="mt-2 col-2 col-md-2 text-secondary font-weight-bold">Sala: {{sala}}</div>
                <div class="mt-2 col-2 col-md-2 text-secondary font-weight-bold">Ano: {{sala.ano}}</div>
                <div class="mt-2 col-2 col-md-2 text-secondary"></div>
                <div class="mt-2 col-2 col-md-2 text-secondary"></div>
                <div class="mt-2 col-2 col-md-2 text-secondary"></div>
                <div class="mt-2 col-2 col-md-2 text-secondary"></div>

                <div class="col-2 col-md-2 text-capitalize text-secondary font-weight-bold">Turno: {{sala.turno}}</div>
                <div class="col-2 col-md-2 text-secondary font-weight-bold">Total: {{sala.total_alunos}} alunos</div>
            </div>
        </div>
    <div class="card-block table-border-style">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="font-weight-bold text-primary">Nº</th>
            <th class="font-weight-bold text-primary">NOME</th>
            <th class="font-weight-bold text-primary text-center">RELATÓRIO</th>
          </tr>
          </thead>
          <tbody>
          {% for aluno, relatorio in alunos %}

          <tr>
            <td class="font-weight-bold text-primary">{{forloop.counter}}</td>
            <td>{{aluno}}</td>
            <td class="text-center">
                {% if relatorio == None  %}
                  <a href="{% url 'frequencia:relatorio_aluno' pk=aluno.pk bimestre=bimestre %}" class="text-success">
                      <i class="fa fa-plus fa-lg"></i>
                  </a>
                {% else %}
                <a href="{% url 'frequencia:relatorio_aluno_up' pk=relatorio.pk %}" class="text-primary">
                      <i class="fa fa-check-square-o fa-lg"></i>
                  </a>
                {% endif %}
            </td>
          </tr>

          {% empty %}
          <td colspan="5">Nenhum aluno cadastrado</td>
          {% endfor %}
          </tbody>
        </table>
        <hr>

      </div>
    </div>
  </div>
</div>
{% endblock %}
