{% extends 'temp_base/adm.html' %}
{% load static %}
{% block titulo %}Painel{% endblock %}
{% block imagem1 %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block conteudo %}
<div class="col-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="h4 font-weight-bold text-uppercase text-center">{{data}}</h4>
            <h6 class="h6 font-weight-bold text-uppercase text-center">Registro de Frequência</h6>
        </div>
    </div>
</div>
{% for sala in salas %}
<div class="col-md-4">
    <div class="card">
        <div class="card-header  d-flex">
            <a href="#" class="h6 text-uppercase font-weight-bold text-primary">{{sala.sala}}</a>
            <div class="ml-auto">
                {% if sala.presentes != 0 %}
                <div class="text-success">
                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                </div>
                {% else %}
                <div class="text-danger">
                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p class="text-uppercase" style="font-size: 80%">{{sala.sala.ano}} - {{sala.sala.turno}}</p>
                <footer class="blockquote-footer">
                    Presentes:
                    {% if sala.presentes != 0 %}
                    <span class="text-primary">{{ sala.presentes }}%</span>
                    {% endif %}
                    <br>
                </footer>
            </blockquote>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

<!-- PROFESSOR -->

{% block imagem_pro %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block conteudo_pro %}
<div class="col-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="h4 font-weight-bold text-uppercase text-center">registro semanal de atividades</h4>
        </div>
    </div>
</div>

{% for sala in salas %}
<div class="col-md-4">
    <div class="card">
        <div class="card-header  d-flex">
            <a href="#" class="h6 text-uppercase font-weight-bold text-primary">{{sala}}</a>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p class="text-uppercase" style="font-size: 80%">{{sala.ano}} - {{sala.turno}}</p>
                <footer class="blockquote-footer">
                    <div class="row mt-3">
                        <div class="col-12 col-md-12">
                            <a class="btn btn-sm btn-outline-info btn-block text-uppercase"
                               href="{% url 'frequencia:registro_aluno' pk=sala.pk %}">
                                Adicionar Registro
                            </a>
                        </div>
                    </div>
                </footer>
            </blockquote>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}