{% extends 'temp_base/adm.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}Adicionar Relatorio {% endblock %}
{% block imagem_pro %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block conteudo_pro %}
<div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <div class="card">
        <div class="card-header">
            <h5 class="h5 text-uppercase font-weight-bold text-primary">{{aluno}}</h5>
            <div class="row">
                <div class="mt-2 mb-2 col-md-12 col-sm-12 text-secondary font-weight-bold">Escola: {{aluno.sala.escola}}</div>
                <div class="mb-2 col-xl-3 col-md-3 col-sm-12 text-secondary font-weight-bold">Bimestre: {{bimestre}}</div>
                <div class="mb-2 col-xl-3 col-md-3 col-sm-12 text-secondary font-weight-bold">Ano: {{aluno.sala.ano}}</div>
                <div class="col-xl-3 col-md-3 col-sm-12"></div>
                <div class="col-xl-3 col-md-3 col-sm-12"></div>
                <div class="mb-2 col-xl-3 col-md-3 col-sm-12 text-secondary font-weight-bold">Sala: {{aluno.sala}}</div>
                <div class="mb-2 col-xl-3 col-md-3 col-sm-12 text-capitalize text-secondary font-weight-bold">Turno: {{aluno.sala.turno}}</div>
            </div>
        </div>
        <div class="card-block">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form layout='inline'%}
                {% buttons %}
                <button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i>Salvar</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <!-- Basic Form Inputs card end -->
</div>
{% endblock %}