{% extends 'temp_base/adm.html' %}
{% load bootstrap4 %}
{% load static %}
{% block titulo %}Lista de Alunos por Sala{% endblock %}
{% block imagem1_adm %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block painel_adm %}
<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="{% url 'core:inicio' %}" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-back-left"></i><b>BC</b></span>
            <span class="pcoded-mtext">Inicio</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-layers-alt"></i><b>BC</b></span>
            <span class="pcoded-mtext">Salas</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="{% url 'escola:escola_salas' escola.slug %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Salas</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-bookmark-alt"></i><b>BC</b></span>
            <span class="pcoded-mtext">Avaliação</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="{% url 'escola:avaliacoes_escola' escola.slug %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Avaliações</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class=" ">
                <a href="#" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Notas</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-user"></i><b>BC</b></span>
            <span class="pcoded-mtext">Professores</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="{% url 'escola:escola_professores' escola.slug %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Professores</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}
{% block conteudo_adm %}

<div class="col-sm-12">
  <!-- Button trigger modal -->
  <div class="card">
    <div class="card-header">
      <h4 class="h4 text-uppercase font-weight-bold text-primary">{{sala}}</h4>
      <div class="row">
        <div class="h6 mb-1 col-6 col-md-4 text-secondary font-weight-bold">Ano: {{sala.ano}}</div>
        <div class="h6 mb-1 col-6 col-md-4 text-secondary text-capitalize font-weight-bold">Turno: {{sala.turno}}</div>
        <div class="h6 mb-1 col-6 col-md-4 text-secondary text-capitalize font-weight-bold"></div>
        <div class="h6 mb-1 col-6 col-md-4 text-secondary font-weight-bold">Total de Alunos: {{sala.total_alunos}}</div>
      </div>
      </div>
    <div class="card-block table-border-style">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr class="text-primary">
            <th class="font-weight-bold">Nº</th>
            <th class="font-weight-bold">NOME</th>
          </tr>
          </thead>
          {% for aluno in alunos %}
          <tbody>
          <tr>
            <td class="font-weight-bold text-primary">{{forloop.counter}}</td>
            <td>{{aluno}}</td>
          </tr>
          </tbody>
          {% empty %}
          <p>Nenhum aluno cadastrado</p>
          {% endfor %}
        </table>

      </div>
    </div>
  </div>
</div>
{% endblock %}
