{% extends 'temp_base/adm.html' %}
{% load bootstrap4 %}
{% load static %}
{% block titulo %}Iniciar Avaliação{% endblock %}
{% block imagem1_adm %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block imagem2_adm %}
<img src="{% if escola.imagem %}{{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block tema_adm %}
<h3 class="m-b-10">{{escola}}</h3>
<h6 class="m-b-0">{{avaliacao}} - {{avaliacao.ano}}</h6>
{% endblock %}
{% block breadcrumbs_adm %}
{{block.super}}
<li class="breadcrumb-item"><a href="#">Avaliação</a></li>
<li class="breadcrumb-item"><a href="#">Alunos</a></li>
{% endblock %}
{% block painel_adm %}
<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="{% url 'core:inicio' %}" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-back-left"></i><b>BC</b></span>
            <span class="pcoded-mtext">Inicio</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-layers-alt"></i><b>BC</b></span>
            <span class="pcoded-mtext">Salas</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="{% url 'escola:escola_salas' escola.slug %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Salas</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-printer"></i><b>BC</b></span>
            <span class="pcoded-mtext">Relatorio</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="{% url 'relatorios:relatorio_sala' slug=escola.slug  pk=sala.pk avaliacao_id=avaliacao.id %}" class="waves-effect waves-dark" target="_blank">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">PDF</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-bookmark-alt"></i><b>BC</b></span>
            <span class="pcoded-mtext">Avaliação</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="{% url 'escola:avaliacoes_escola' escola.slug %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Avaliações</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class=" ">
                <a href="#" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Notas</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-user"></i><b>BC</b></span>
            <span class="pcoded-mtext">Professores</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="{% url 'escola:escola_professores' escola.slug %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Professores</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}
{% block conteudo_adm %}
{% if alunos %}
<div class="col-sm-12">
  <div class="card">
  <div class="card-header">
     <h5>Avaliações Pendentes</h5>
  </div>
  <div class="card-block table-border-style">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="font-weight-bold text-primary">NOME</th>
          <th class="font-weight-bold text-primary text-center">PADRÃO</th>
          <th class="font-weight-bold text-primary text-center">RESUMIDA</th>
        </tr>
        </thead>
{% for aluno in alunos %}
        <tbody>
        <tr>
          <td>{{aluno}}</td>
          <td class="text-center">
            <a href="{% url 'avaliacao:iniciar_prova' aluno_id=aluno.id avaliacao_id=avaliacao.id %}" class="success">
              <i class="fas fa-file" style="color: #0080FF;"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="{% url 'avaliacao:avalie_adm' aluno_id=aluno.id avaliacao_id=avaliacao.id slug=escola.slug %}" class="danger">
              <i class="fas fa-file-alt" style="color:#4C9900;"></i>
            </a>
          </td>
        </tr>
        </tbody>
{% empty %}
<p>Nenhum aluno cadastrado</p>
{% endfor %}
      </table>
    </div>
    </div>
  </div>
</div>
{% endif %}
{% if gabaritos %}
<div class="col-sm-12">
  <div class="card">
  <div class="card-header">
     <h5>Avaliações concluídas</h5>
  </div>
  <div class="card-block table-border-style">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="font-weight-bold text-primary">NOME</th>
          <th class="font-weight-bold text-primary text-center">VISUALIZAR</th>
          <th  class="font-weight-bold text-primary text-center">ACERTOS</th>
          <th class="font-weight-bold text-primary text-center">EDITAR</th>
        </tr>
        </thead>
{% for aluno in gabaritos %}
        <tbody>
        <tr>
          <td>{{aluno.aluno}}</td>
          <td class="text-center">
            <a href="{% url 'avaliacao:ver_gabarito' gabarito_id=aluno.id %}" class="info">
              <i class="fas fa-eye" style="color: #0080FF;"></i>
            </a>
          </td>
          <td class="text-center">{{aluno.qtd_acertos}}/{{questoes}}</td>
          <td class="text-center">
            <a href="{% url 'avaliacao:refazer_prova' gabarito_id=aluno.id %}" class="info">
              <i class="fas fa-edit" style="color:#4C9900;"></i>
            </a>
          </td>
        </tr>
        </tbody>
{% empty %}
<p>Nenhum aluno cadastrado</p>
{% endfor %}
      </table>
    </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
