{% extends 'temp_base/escola_painel.html' %}
{% load bootstrap4 %}
{% load static %}
{% block titulo %}Alunos{% endblock %}
{% block estatico %}
<style>
.table-sm td,
.table-sm th {
    padding: 0.1rem; /* Reduz o padding das células */
    font-size: 0.85rem; /* Diminui o tamanho da fonte */
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
}
.table-responsive {
    overflow-x: auto; /* Garante que a tabela role horizontalmente se necessário */
    max-height: 500px; /* Limita a altura para evitar rolagem excessiva */
}

</style>
{% endblock %}
{% block trilha %}
{% endblock %}
{% block imagem1 %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block tema %}
<h5 class="m-b-10">{{user.nome}}</h5>
{% endblock %}
{% block breadcrumbs %}
{{block.super}}
{% endblock %}
{% block conteudo %}
<div class="col-sm-12">
  <!-- Button trigger modal -->
  <div class="card">
    <div class="card-header text-primary">
    <h5 class="h5 text-primary text-uppercase font-weight-bold">
        {{sala}}
    </h5>
    <hr>
        <h6>{{sala.escola}}</h6>
        <h6>{{sala.turno}}</h6>
        <h6>{{sala.ano}}</h6>
</div>
    <div class="card-block table-border-style table-bordered">
      <div class="table-responsive mt-2">
        <table class="table table-hover table-sm">
          <thead>
          <tr class="text-primary">
            <th class="font-weight-bold text-center">Nº</th>
            <th class="font-weight-bold">NOME</th>
            <th class="font-weight-bold text-center">DATA NASC.</th>
            <th class="font-weight-bold text-center">RELATÓRIO</th>
            <th class="text-right font-weight-bold text-center">AÇÕES</th>

          </tr>
          </thead>
          {% for aluno in alunos %}
          <tbody>
          <tr>
            <td class="font-weight-bold text-primary text-center">{{forloop.counter}}</td>
            <td>{{aluno}}</td>
            <td class="text-center">{{aluno.data_nascimento}}</td>
            <td class="text-center"><a href="{% url 'aluno:relatorio-registro' pk=aluno.pk %}"><i class="far fa-file-pdf" style="color: #ed1d1d;"></i></a></td>
            <td class="text-center">
                <a href="{% url 'aluno:editar' pk=aluno.pk %}" class="primary">
                  <i class="fas fa-edit" style="color: #2c28e6;"></i>

                  <a type="button" class="danger" data-toggle="modal" data-target="#{{aluno.id}}">
                    <i class="far fa-trash-alt" style="color: #ed1d1d;"></i>
                  </a>

                  <div class="modal fade" id="{{aluno.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                       aria-hidden="true">
                    <div class="modal-dialog modal-notify modal-info" role="document">
                      <!--Content-->
                      <div class="modal-content text-center">
                        <!--Header-->
                        <div class="modal-header d-flex justify-content-center">
                          <h6 class="heading">Deletar Aluno</h6>
                        </div>

                        <!--Body-->
                        <div class="modal-body">
                          <h6>Tem certeza que deseja excluir</h6>
                          <h6 class="text-danger">{{aluno.nome}}?</h6>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer flex-center">
                          <form method="post" action="{% url 'aluno:deletar' aluno.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger">
                              <i class="far fa-trash-alt"></i>
                              Deletar
                            </button>
                            <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                              <i class="fas fa-times"></i>
                              Cancelar
                            </button>
                          </form>
                        </div>
                      </div>
                      <!--/.Content-->
                    </div>
                  </div>
                  <!--Modal: modalPush-->
              </td>
          </tr>
          </tbody>
          {% empty %}
          <p>Nenhum aluno cadastrado</p>
          {% endfor %}
        </table>
          <hr>
          <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#exampleModalCenter">
            Cadastrar Aluno
          </button>
            <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Adicionar Aluno</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="modal-footer">
              {% buttons %}
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
              <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Cadastrar</button>
              {% endbuttons %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}