{% extends 'temp_base/adm.html' %}
{% load static %}
{% block titulo %}Gráfico{% endblock %}
{% block imagem1_adm %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block imagem2_adm %}
<img src="{% if escola.imagem %}{{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block tema_adm %}
<h5 class="m-b-10">{{escola}}</h5>
<p class="m-b-0">Gráfico mensal</p>
{% endblock %}
{% block breadcrumbs_adm %}
{{block.super}}
{% endblock %}
{% block painel_adm%}
<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-layout-grid2"></i><b>BC</b></span>
            <span class="pcoded-mtext">Informações Escola</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="#" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Editar Escola</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class=" ">
                <a href="#" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Editar Endereço</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class=" ">
                <a href="#" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Editar Login</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>
{{block.super}}
{% endblock %}
{% block relatorios %}
<li class=" ">
    <a href="{% url 'relatorios:relatorio_escola' escola.slug %}" class="waves-effect waves-dark">
        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
        <span class="pcoded-mtext">Escola</span>
        <span class="pcoded-mcaret"></span>
    </a>
</li>

{% endblock %}
{% block conteudo_adm %}
<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>{{mes_atual}}</h5>
        </div>
        <div class="card-block">
            <div class="row align-items-center">
                <canvas id="meuGrafico"></canvas>
            </div>
        </div>
    </div>
</div>
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('meuGrafico');
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{mes|safe}},
      datasets: [{
        label: '% de alunos presentes',
        data: {{alunos}},
        borderWidth: 1,
        fill: {
                target: 'origin',
                above: 'rgb(150, 220, 238)',   // Area will be red above the origin
                below: 'rgb(0, 0, 255)'    // And blue below the origin
              }
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}
{% endblock %}
