{% extends 'temp_base/adm.html' %}
{% load static %}
{% block titulo %}Dashboard{% endblock %}
{% block imagem1 %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block imagem2 %}
<img src="{% if escola.imagem %}{{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block tema %}
<h5 class="m-b-10">{{escola}}</h5>
<p class="m-b-0">Painel administrativo</p>
{% endblock %}
{% block breadcrumbs %}
{{block.super}}
{% endblock %}
{% block conteudo %}
    {% if manha %}
    <div class="col-md-4">
        <div class="card mat-clr-stat-card text-white blue">
        <div class="card-block">
            <div class="row">
                <div class="col-3 text-center bg-c-blue">
                    <a href="{% url 'escola:painel_planilha' slug=escola.slug turno='manha' %}" class="btn text-white"><i class="fa fa-edit mat-icon f-24"></i></a>
                </div>
                <div class="col-9 cst-cont">
                    <h5>Manhã</h5>
                    <p class="m-b-0">Frequência</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
    {% if tarde %}
    <div class="col-md-4">
        <div class="card mat-clr-stat-card text-white blue">
        <div class="card-block">
            <div class="row">
                <div class="col-3 text-center bg-c-blue">
                    <a href="{% url 'escola:painel_planilha' slug=escola.slug turno='tarde' %}" class="btn text-white"><i class="fa fa-edit mat-icon f-24"></i></a>
                </div>
                <div class="col-9 cst-cont">
                    <h5>Tarde</h5>
                    <p class="m-b-0">Frequência</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
    {% if integral %}
    <div class="col-md-4">
        <div class="card mat-clr-stat-card text-white blue">
        <div class="card-block">
            <div class="row">
                <div class="col-3 text-center bg-c-blue">
                    <a href="{% url 'escola:painel_planilha' slug=escola.slug turno='integral' %}" class="btn text-white"><i class="fa fa-edit mat-icon f-24"></i></a>
                </div>
                <div class="col-9 cst-cont">
                    <h5>Tempo Integral</h5>
                    <p class="m-b-0">Frequência</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
{% endblock %}

<!-- Painel Administrador -->

{% block imagem1_adm %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block imagem2_adm %}
<img src="{% if escola.imagem %}{{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block tema_adm %}
<h5 class="m-b-10">{{user.nome}}</h5>
<p class="m-b-0">Admin das escolas</p>
{% endblock %}
{% block breadcrumbs_adm %}
{{block.super}}
{% endblock %}
{% block conteudo_adm %}
<div class="col-sm-12">
  <div class="card">
  <div class="card-block table-border-style">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="font-weight-bold text-primary">ESCOLA</th>
          <th class="font-weight-bold text-primary">INEP</th>
          <th class="font-weight-bold text-primary">ENTRAR</th>
        </tr>
        </thead>
{% for school in escolas %}
        <tbody>
        <tr>
          <td><a href="{% url 'escola:painel_da_escola' school.slug %}">{{school}}</a></td>
          <td>{{school.inep}}</td>
          <td>
              <a href="{% url 'escola:painel_da_escola' school.slug %}" class="btn btn-outline-primary btn-sm">
                <i class="fas fa-edit"></i> Entrar
              </a>
          </td>
        </tr>
        </tbody>
{% empty %}
<p>Nenhuma escola cadastrada</p>
{% endfor %}
      </table>
    </div>
  </div>
</div>
</div>
{% endblock %}
