{% extends 'temp_base/adm.html' %}
{% load static %}
{% block titulo %}Painel{% endblock %}
{% block imagem1 %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block imagem2 %}
<img src="{% if escola.imagem %}{{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block tema %}
<h3 class="m-b-10">{{escola}}</h3>
<h5 class="m-b-0">{{data}}</h5>
{% endblock %}
{% block breadcrumbs %}
{{block.super}}
{% endblock %}
{% block conteudo %}
{% if manha %}
<div class="col-xl-6 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h4 class="text-center">Manhã</h4>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-hover m-b-0 without-header">
                    <tbody>
                    {% for sala in manha %}
                    {{sala.presentes}}
                    <tr>
                        <td>
                            <a href="{% url 'frequencia:freq_aluno' sala_id=sala.sala.id cal=data %}">
                            <div class="d-inline-block align-middle">
                                <img src="{% static 'images/logo1.png' %}" alt="user image" class="img-radius img-40 align-top m-r-15">
                                <div class="d-inline-block">
                                    <h6>{{sala.sala}}</h6>
                                    <p class="text-muted m-b-0">{{sala.sala.ano}}</p>
                                </div>
                            </div>
                            </a>
                        </td>
                        <td class="text-right">
                            <a href="#">
                                {% if sala.presentes %}
                                <div class="text-success">
                                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                                </div>
                                {% else %}
                                <div class="text-danger">
                                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                </div>
                                {% endif %}
                                <br>
                                <div class="text-primary">
                                    {{ sala.presentes }}%
                                </div>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
{% endif %}

{% if tarde %}
<div class="col-xl-6 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h4 class="text-center">Tarde</h4>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-hover m-b-0 without-header">
                    <tbody>
                    {% for sala in tarde %}
                    <tr>
                        <td>
                            <a href="{% url 'frequencia:freq_aluno' sala_id=sala.sala.id cal=data %}">
                            <div class="d-inline-block align-middle">
                                <img src="{% static 'images/logo1.png' %}" alt="user image" class="img-radius img-40 align-top m-r-15">
                                <div class="d-inline-block">
                                    <h6>{{sala.sala}}</h6>
                                    <p class="text-muted m-b-0">{{sala.sala.ano}}</p>
                                </div>
                            </div>
                            </a>
                        </td>
                        <td class="text-right">
                            <a href="#">
                                {% if sala.presentes %}
                                <div class="text-success">
                                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                                </div>
                                {% else %}
                                <div class="text-danger">
                                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                </div>
                                {% endif %}
                                <br>
                                <div class="text-primary">
                                    {{ sala.presentes }}%
                                </div>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
{% endif %}

{% if integral %}
<div class="col-xl-6 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h4 class="text-center">Tempo Integral</h4>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-hover m-b-0 without-header">
                    <tbody>
                    {% for sala in integral %}
                    <tr>
                        <td>
                            <a href="{% url 'frequencia:freq_aluno' sala_id=sala.sala.id cal=data %}">
                            <div class="d-inline-block align-middle">
                                <img src="{% static 'images/logo1.png' %}" alt="user image" class="img-radius img-40 align-top m-r-15">
                                <div class="d-inline-block">
                                    <h6>{{sala.sala}}</h6>
                                    <p class="text-muted m-b-0">{{sala.sala.ano}}</p>
                                </div>
                            </div>
                            </a>
                        </td>
                        <td class="text-right">
                            <a href="#">
                                {% if sala.presentes %}
                                <div class="text-success">
                                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                                </div>
                                {% else %}
                                <div class="text-danger">
                                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                </div>
                                {% endif %}
                                <br>
                                <div class="text-primary">
                                    {{ sala.presentes }}%
                                </div>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}