{% extends 'temp_base/adm.html' %}
{% load static %}
{% block titulo %}Painel de Controle{% endblock %}
{% block imagem1 %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block imagem2 %}
<img src="{% if escola.imagem %}{{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block painel %}
{{block.super}}
<div class="pcoded-navigation-label">Funcionários</div>
<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>BC</b></span>
            <span class="pcoded-mtext">Funcionários</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="{% url 'direcao:adicionar' %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Adicionar Funcionário</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class=" ">
                <a href="{% url 'direcao:lista_direcao' %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Lista de Funcionários</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}
{% block tema %}
<h5 class="m-b-10">Painel Administrativo</h5>
<p class="m-b-0">Painel destinado ao administrador da escola</p>
{% endblock %}
{% block breadcrumbs %}
{{block.super}}
{% endblock %}
{% block conteudo %}
{% endblock %}
