{% extends 'temp_base/base_log.html' %}
{% load bootstrap4 %}
{% load static %}
{% block titulo %}Senha alterada{% endblock %}
{% block tema %}Senha alterada com sucesso!{% endblock %}
{% block formulario %}
    <img class="rounded mx-auto d-block" src="{% static 'adm/assets/images/confirm.png' %}" alt="Confirmado" />
    {% buttons %}
    <a href="{% url 'escola:painel_escola' %}" type="button" class="btn btn-success btn-block">Perfil</a>
    <a href="{% url 'core:inicio' %}" type="button" class="btn btn-primary btn-block">Home</a>
    {% endbuttons %}
{% endblock %}