{% extends 'temp_base/base_log.html' %}
{% load bootstrap4 %}
{% block titulo%}Esqueceu a senha?{% endblock %}
{% block tema %}Esqueceu a senha?{% endblock %}
{% block formulario %}
<p class="text-justify">Digite seu endereço de e-mail abaixo.<br> Enviaremos por e-mail as instruções para definir uma nova senha.</p>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='inline'%}
    {% buttons %}
    <button type="submit" class="btn btn-primary btn-block">Esquecia senha</button>
    {% endbuttons %}
</form>
{% endblock %}