<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Relatório Aluno</title>
<style>
table {
  margin-bottom: 24px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<section>
<h1 style="text-align: center; font-size: 22px;" >{{data}}</h1>
  <h1 style="text-align:center; font-size: 18px;">{{ gabarito.aluno.sala.ano }}° ano - {{gabarito.aluno.sala.turno}} - {{ gabarito.aluno.sala }}</h1>
  <h1 style="text-align:center; font-size: 15px;">{{ gabarito.avaliacao }}</h1>
  <table>
  <tr>
    <th colspan="2" style="text-align:center; font-size: 15px;">{{gabarito.aluno}}</th>
  </tr>
  <tr>
    <th colspan="2" style="font-size: 12px;">Acertos: {{gabarito.qtd_acertos}}</th>
  </tr>
  <tr>
    <th style="font-size: 12px;">Questão</th>
    <th style="font-size: 12px;">Correta?</th>
  </tr>
  {% for resposta in gabarito.resposta_set.all %}
    <tr>
    <td>{{resposta.questao}}</td>
    <td>{% if resposta.acertou %} S{% else %}N{% endif %}</i></td>
  </tr>
  {% endfor %}
  </table>

<!--<table>-->
<!--  <tr>-->
<!--    <th colspan="2">Nome</th>-->
<!--  <e/tr>-->
<!--  <tr>-->
<!--    <th>Questão</th>-->
<!--    <th>Acerto</th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Alfreds Futterkiste</td>-->
<!--    <td>Maria Anders</td>-->
<!--  </tr>-->
<!--</tabl>-->

</section>
</body>
</html>