<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Relatório Aluno</title>
<style>
table {
  margin-bottom: 24px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<header>
<img src="https://tm.ibxk.com.br/2019/01/10/10161922807101.jpg?ims=1120x420" alt="Flowers in Chania" >
</header>
<section>
<h1 style="text-align: center; font-size: 22px;" >{{data}}</h1>
  <h1 style="text-align:center; font-size: 18px;">{{ gabarito.aluno.sala.ano }}° ano - {{gabarito.aluno.sala.turno}} - {{ gabarito.aluno.sala }}</h1>
  <h1>{{gabarito.aluno}}</h1>
  {% for resposta in gabarito.resposta_set.all %}
    <h1>Questão - {{resposta.questao}}</h1>
    <h1>{{resposta.questao.texto}}</h1>
  <h2>{{resposta.questao.opcao_certa}} = {{resposta}} ? {{resposta.acertou}}</h2>
  <hr>
  {% endfor %}

<!--<table>-->
<!--  <tr>-->
<!--    <th colspan="2">Nome</th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th>Materia</th>-->
<!--    <th>Acertos</th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Alfreds Futterkiste</td>-->
<!--    <td>Maria Anders</td>-->
<!--  </tr>-->
<!--</table>-->

</section>
</body>
</html>