<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Python Guides</title>
    <style>
        h1 {
          text-align: center;
        }
        td, th {
          text-align: center;
        }
      </style>
</head>
<body>

      <h1>Lista de alunos</h1>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sala</th>
            <th>Ano</th>
          </tr>
        </thead>
        <tbody>
          {% for person in data %}
            <tr>
              <td>{{ person.id }}</td>
              <td>{{ person.nome }}</td>
              <td>{{ person.sala }}</td>
              <td>{{ person.sala.ano }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br/>
      <br/>
</body>
</html>