{% extends 'temp_base/adm.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}Arquivo {% endblock %}
{% block imagem1 %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block imagem2 %}
<img src="{% if escola.imagem %}{{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block painel%}
{{block.super}}
{% endblock %}
{% block tema %}
<h3 class="m-b-10">Arquivo</h3>
<p class="m-b-0">Adicionar</p>
{% endblock %}
{% block breadcrumbs %}
{{block.super}}
<li class="breadcrumb-item"><a href="#">Arquivo</a></li>
<li class="breadcrumb-item"><a href="#">Adicionar</a></li>
{% endblock %}
{% block conteudo %}
<div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <div class="card">
        <div class="card-header">
            <h4>Adicionar Arquivo</h4>
        </div>
        <div class="card-block">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form layout='inline'%}
                {% buttons %}
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Salvar</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <!-- Basic Form Inputs card end -->
</div>
{% endblock %}

{% block imagem1_adm %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block imagem2_adm %}
<img src="{% if escola.imagem %}{{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block painel_adm %}
{{block.super}}
{% endblock %}
{% block tema_adm %}
<h3 class="m-b-10">Adicionar Arquivo</h3>
<p class="m-b-0">Adicionar</p>
{% endblock %}
{% block breadcrumbs_adm %}
{{block.super}}
<li class="breadcrumb-item"><a href="#">Arquivo</a></li>
<li class="breadcrumb-item"><a href="#">Adicionar</a></li>
{% endblock %}
{% block conteudo_adm %}
<div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <div class="card">
        <div class="card-header">
            <h4>Adicionar Arquivo</h4>
        </div>
        <div class="card-block">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form layout='inline'%}
                {% buttons %}
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Salvar</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <!-- Basic Form Inputs card end -->
</div>
{% endblock %}