{% extends 'temp_base/adm.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}Funções{% endblock %}
{% block imagem1 %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block imagem2 %}
<img src="{% if escola.imagem %}{{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}

{% block painel%}
{{block.super}}
{% endblock %}
{% block tema %}
<h5 class="m-b-10">Lista Funções</h5>
<p class="m-b-0">Todas as funções cadastradas</p>
{% endblock %}
{% block breadcrumbs %}
{{block.super}}
<li class="breadcrumb-item"><a href="{% url 'funcao:lista_funcoes' %}">Funções</a></li>
{% endblock %}
{% block conteudo %}
<div class="col-sm-12">
<div class="card">
    <div class="card-header">
        <h4>Lista de funções</h4>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>CÓDIGO</th>
                    <th>FUNÇÃO</th>
                    <th>ESCOLA</th>
                    <th>EDITAR</th>
                    <th>EXCLUIR</th>
                </tr>
                </thead>
                <tbody>
                {% for funcao in object_list %}
                <tr>
                    <td>{{funcao.codigo}}</td>
                    <td>{{funcao.funcao}}</td>
                    <td>{{funcao.escola}}</td>
                    <td>
                        <a href="{% url 'funcao:atualizar_funcao' funcao.pk %}" class="btn btn-outline-primary">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                    </td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#{{funcao.id}}">
                            <i class="far fa-trash-alt"></i> Excluir
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="{{funcao.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Deletar Função</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h6>Tem certeza que vai excluir {{funcao.funcao}} - {{funcao.pk}}?</h6>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" action="{% url 'funcao:remover_funcao' funcao.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Deletar</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <p>Não há nada</p>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}
