{% extends 'temp_base/indice.html' %}
{% block titulo %}Notícias{% endblock %}
{% load static %}
{% block conteudo %}
<div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-left">
                <div class="col-lg-10 text-left">
                    <h1 class="display-3 text-white animated slideInDown">Notícias</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-left">
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'core:inicio' %}">Inicio</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Notícias</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row d-flex">
        {% for noticia in noticias %}
        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
                <a href="{% url 'blog:noticia'  noticia.slug %}" class="block-20" style="background-image: url('{{noticia.imagem.url}}');">
                </a>
                <div class="text p-4 d-block">
                    <div class="meta mb-3">
                        <div><a href="#">{{noticia.data_atualizacao}}</a></div>
                        <div><a href="#">{{noticia.autor}}</a></div>
                    </div>
                    <h3 class="heading mt-3"><a href="{% url 'blog:noticia'  noticia.slug %}">{{noticia.titulo}}</a></h3>
                </div>
            </div>
        </div>
        {% empty %}
        <h3>Vazio</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}
