{% extends 'temp_base/site.html' %}
{% block titulo %}Notícia{% endblock %}
{% load static %}
{% load social_share %}
{% block estatico %}
<meta property="og:url"           content="https://smepedrabranca.com.br/blog/{{noticia.slug}}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{noticia}}" />
<meta property="og:description"   content="" />
<meta property="og:image"         content="{{noticia.imagem.url}}" />
{% endblock %}
{% block conteudo %}
      <div class="container">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v14.0&appId=2624277097784962&autoLogAppEvents=1"
        nonce="n4ZzO278"></script>
        <div class="row">
          <div class="col-md-8 ftco-animate">
            <img src="{{noticia.imagem.url}}" alt="" class="img-fluid">
            <hr>
            <div class="row">
              <div class="col-md-2 col-4">
                <div class="fb-share-button" data-href="https://smepedrabranca.com.br/blog/{{noticia.slug}}/"
                     data-layout="button" data-size="large">
                  <a target="_blank"
                     href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsmepedrabranca.com.br%2Fblog%2Flampadas-de-nicola-tesla%2F&amp;src=sdkpreparse"
                     class="fb-xfbml-parse-ignore">Compartilhar</a>
                </div>
              </div>
              <div class="col-md-3 col-5">
                <button type="button" style="background-color: #4CAF50;
                                            border: none;
                                            color: white;
                                            padding-left: 10px;
                                            padding-right: 10px;
                                            padding-top: 2px;
                                            text-align: center;
                                            text-decoration: none;
                                            display: inline-block;
                                            font-size: 14px;
                                            margin: 0px 2px;
                                            cursor: pointer;
                                            font-family: Helvetica, Arial, sans-serif;
                                            border-radius: 5px;">
                {% post_to_whatsapp object_or_url "" %}
                </button>
              </div>
            </div>
            <hr>
            <h2 class="mb-3">{{noticia}}</h2>
            {{noticia.conteudo|safe}}
          </div> <!-- .col-md-8 -->
          <div class="col-md-4 sidebar ftco-animate">
            <div class="sidebar-box ftco-animate">
              <h3>Categorias</h3>
              <div class="tagcloud">
                {% for categoria in temas %}
                <a href="#" class="tag-cloud-link">{{categoria}}</a>
                {% empty %}
                <a href="#" class="tag-cloud-link">vazio</a>
                {% endfor %}
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Notícias Recentes</h3>
              {% for noticia1 in recentes %}
              <div class="block-21 mb-4 d-flex">
                <a href="{% url 'blog:noticia' noticia1.slug %}" class="blog-img mr-4" style="background-image: url({{noticia1.imagem.url}});"></a>
                <div class="text">
                  <h3 class="heading"><a href="{% url 'blog:noticia' noticia1.slug %}">{{ noticia1.titulo }}</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> {{noticia1.data}}</a></div>
                    <div><a href="#"><span class="icon-person"></span> {{noticia1.autor}}</a></div>
                  </div>
                </div>
              </div>
              {% empty %}
              <p>Vazio</p>
              {% endfor %}
            </div>
        </div>
      </div>
      </div>
{% endblock %}
