{% extends 'temp_base/administrador.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}Registro de Atividades{% endblock %}
{% block estatico %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css">
<style>
    .accordion-item {
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: 10px;
    }
    .accordion-header {
      background-color: #448aff;
      padding: 10px;
      cursor: pointer;
    }
    .accordion-body {
      padding: 10px;
      display: none;
    }
    .accordion-body.show {
      display: block;
    }
  </style>
{% endblock %}
{% block trilha %}
{% endblock %}
{% block imagem1_adm %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block tema_adm %}
<h5 class="m-b-10">{{user.nome}}</h5>
{% endblock %}
{% block breadcrumbs_adm %}
{{block.super}}
{% endblock %}
{% block painel_adm %}
<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="{% url 'core:inicio' %}" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-back-left"></i><b>BC</b></span>
            <span class="pcoded-mtext">Inicio</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>

</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-layers-alt"></i><b>BC</b></span>
            <span class="pcoded-mtext">Salas</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="{% url 'escola:painel_da_escola' escola.slug %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Salas</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-user"></i><b>BC</b></span>
            <span class="pcoded-mtext">Professores</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="{% url 'escola:escola_professores' escola.slug %}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Professores</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>

<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-write"></i><b>BC</b></span>
            <span class="pcoded-mtext">Relatórios</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="#" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">Relatórios</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class=" ">
                <a href="{% url 'escola:unidade_alunos_relatorios' slug=escola.slug  pk=sala.id bimestre='1º_Bimestre'%}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">1º Bimestre</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class=" ">
                <a href="{% url 'escola:unidade_alunos_relatorios' slug=escola.slug  pk=sala.id bimestre='2º_Bimestre'%}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">2º Bimestre</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class=" ">
                <a href="{% url 'escola:unidade_alunos_relatorios' slug=escola.slug  pk=sala.id bimestre='3º_Bimestre'%}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">3º Bimestre</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li class=" ">
                <a href="{% url 'escola:unidade_alunos_relatorios' slug=escola.slug  pk=sala.id bimestre='4º_Bimestre'%}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                    <span class="pcoded-mtext">4º Bimestre</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}
{% block conteudo_adm %}
<div class="col-sm-12">
<div class="card">
<div class="card-header text-primary">
    <h5 class="h5 text-primary text-uppercase font-weight-bold">
        <i class="bi bi-clipboard-check"></i> Registro de Atividades
    </h5>
    <hr>
    <div class="row">
        <div class="col-4">
            <div class="h6"><i class="fa fa-clock-o" aria-hidden="true"></i> {{sala}}</div>
        </div>
        <div class="col-8">
            <div class="h6"><i class="fa fa-home" aria-hidden="true"></i> {{sala.escola}}</div>
        </div>

    </div>
    <hr>
</div>

        <div class="container">
        <div class="row">
        <div class="offset-md-3"></div>
        <div class="col-md-6 border border-6 rounded p-3">
            <div class="col-md-12 text-center text-primary mb-3">
                <div class="h6"><i class="fas fa-serach" aria-hidden="true"></i> Mês</div>
            </div>
        <form method="post" class="form-inline align-items-center">
            {% csrf_token %}
            <div class="offset-md-3"></div>
            <div class="form-group col-md-4 col-sm-8">
                {{ form.mes }}
            </div>
            <button type="submit" class="btn btn-outline-primary col-md-2 col-sm-4">
                <i class="fas fa-search"></i> Filtrar
            </button>
        </form>
        </div>
        <div class="offset-md-3"></div>
        </div>
        </div>
        <div class="card-block table-border-style">
            <div class="accordion" id="accordionExample">
                {% for registro in registros %}
                <div class="accordion-item">
                  <div class="accordion-header" id="headingOne{{registro.id}}">
                    <h2 class="mb-0 text-center">
                        <button class="btn btn-link text-white font-weight-bold d-flex justify-content-between align-items-center w-100" type="button" aria-expanded="true" aria-controls="collapseOne{{registro.id}}">
                            <span>{{registro.data|date:"d/m/Y"}} <span class="text-lowercase">à</span> {{registro.data_fim|date:"d/m/Y"}}</span>
                            <i class="fas fa-chevron-down"></i>
                        </button>
                    </h2>
                  </div>
                  <div id="collapseOne{{registro.id}}" class="accordion-body" aria-labelledby="headingOne{{registro.id}}" data-parent="#accordionExample">
                       <div class="d-flex justify-content-between align-items-center">
                            <h6>Professor: {{registro.professor}}</h6>
                        </div>
                            <hr>
                            <div class="d-flex w-100 justify-content-between">
                              <h6 class="mb-1">PRÁTICAS QUE POSSIBILITAM</h6>
                            </div>
                            <p class="mb-1">{{registro.pratica}}</p>
                            <hr>
                            <div class="d-flex w-100 justify-content-between">
                              <h6 class="mb-1">CAMPOS DE EXPERIÊNCIAS</h6>
                            </div>
                            <p class="mb-1">{{registro.campo}}</p>
                            <hr>
                            <div class="d-flex w-100 justify-content-between">
                              <h6 class="mb-1">OBJETOS DE APRENDIZAGEM</h6>
                            </div>
                            <p class="mb-1">{{registro.objeto}}</p>
                          <hr>
                  </div>
                </div>
                {% empty %}
                <h6 class="text-danger">Sem registros...</h6>
                {% endfor %}
              </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script_adm %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
      var accordionHeaders = document.querySelectorAll(".accordion-header");

      accordionHeaders.forEach(function(header) {
        header.addEventListener("click", function() {
          var body = this.nextElementSibling;
          body.classList.toggle("show");

          // Close other accordion bodies if only one should be open at a time
          var allBodies = document.querySelectorAll(".accordion-body");
          allBodies.forEach(function(otherBody) {
            if (otherBody !== body) {
              otherBody.classList.remove("show");
            }
          });
        });
      });
    });
  </script>
{% endblock %}