{% extends 'temp_base/base1.html' %}
{% block titulo %}Inicio{% endblock %}
{% load static %}
{% load django_bootstrap5 %}
{% block estatico %}
<link rel="stylesheet" href="{% static 'cards/card_file.css' %}">
{% endblock %}
{% block conteudo %}
<main id="main">
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-12 entries">

            <article class="entry">

              <h2 class="entry-title text-center">
                <a href="#">Informações Pessoais</a>
              </h2>
              <p>

              </p>

              <div class="entry-content">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <hr>
                    <button type="submit" class="btn btn-outline-primary">Salvar e Continuar</button>
                    </form>
              </div>

            </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

        </div>

      </div>
    </section>
  </main>
{% endblock %}