{% extends 'temp_base/adm.html' %}
{% load bootstrap4 %}
{% load static %}
{% block titulo %}Lista de Alunos por Sala{% endblock %}
{% block estatico %}
<style>
.table td,
.table th {
	padding: 0.5rem 0rem 0.5rem 1rem;
}
</style>
{% endblock %}
{% block imagem_pro %}
<img src="{% if escola.imagem %}
    {{escola.logo_escola.thumbnail.url}}
    {% else %}{% static 'adm/assets/images/user.jpg' %}{% endif %}"
     class="img-radius" alt="Foto_Usuario">
{% endblock %}
{% block conteudo_pro %}

<div class="col-sm-12">
  <!-- Button trigger modal -->
  <div class="card">
    <div class="card-block table-border-style">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="font-weight-bold text-primary">Nº</th>
            <th class="font-weight-bold text-primary">NOME</th>
          </tr>
          </thead>
          <tbody>
          {% for aluno in alunos %}

          <tr>
            <td class="font-weight-bold text-primary">{{forloop.counter}}</td>
            <td>{{aluno}}</td>
          </tr>

          {% empty %}
          <td colspan="5">Nenhum aluno cadastrado</td>
          {% endfor %}
          </tbody>
        </table>
        <hr>

      </div>
    </div>
  </div>
</div>
{% endblock %}
