<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Relatório Escola</title>
<style>
table {
  margin-bottom: 24px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<section>
<h1 style="text-align: center; font-size: 22px;" >Escola Teste 01</h1>

  <h1 style="text-align:center; font-size: 18px;">5° ano - Tarde - Sala 02</h1>
    
    <table>
      <tr>
        <th colspan="2" style="text-align:center; font-size: 15px;">Avaliação Língua Portuguesa</th>
      </tr>
      <tr>
        <th style="text-align:center; font-size: 13px;">Nome</th>
        <th style="text-align:center; font-size: 13px;">Acertos</th>
      </tr>
      
        
          
      <tr>
        <td>Solange Lima</td>
        <td style="text-align:center">0</td>
      </tr>
          
        
      
        
          
      <tr>
        <td>Casemiro</td>
        <td style="text-align:center">0</td>
      </tr>
          
        
      
        
          
      <tr>
        <td>Valentina Duarte</td>
        <td style="text-align:center">0</td>
      </tr>
          
        
      
        
          
      <tr>
        <td>Lionel Messi</td>
        <td style="text-align:center">0</td>
      </tr>
          
        
      
      </table>
    
    <table>
      <tr>
        <th colspan="2" style="text-align:center; font-size: 15px;">Avaliação Geografia</th>
      </tr>
      <tr>
        <th style="text-align:center; font-size: 13px;">Nome</th>
        <th style="text-align:center; font-size: 13px;">Acertos</th>
      </tr>
      
        
          
        
      
        
          
        
      
        
          
        
      
        
          
        
      
      </table>
    

  <h1 style="text-align:center; font-size: 18px;">5° ano - Integral - Sala 04</h1>
    
    <table>
      <tr>
        <th colspan="2" style="text-align:center; font-size: 15px;">Avaliação Língua Portuguesa</th>
      </tr>
      <tr>
        <th style="text-align:center; font-size: 13px;">Nome</th>
        <th style="text-align:center; font-size: 13px;">Acertos</th>
      </tr>
      
        
      
        
      
        
      
        
      
      </table>
    
    <table>
      <tr>
        <th colspan="2" style="text-align:center; font-size: 15px;">Avaliação Geografia</th>
      </tr>
      <tr>
        <th style="text-align:center; font-size: 13px;">Nome</th>
        <th style="text-align:center; font-size: 13px;">Acertos</th>
      </tr>
      
        
      
        
      
        
      
        
      
      </table>
    

  <h1 style="text-align:center; font-size: 18px;">6° ano - Manhã - Sala 01</h1>
    
    <table>
      <tr>
        <th colspan="2" style="text-align:center; font-size: 15px;">Avaliação História</th>
      </tr>
      <tr>
        <th style="text-align:center; font-size: 13px;">Nome</th>
        <th style="text-align:center; font-size: 13px;">Acertos</th>
      </tr>
      
        
      
        
      
        
      
        
      
      </table>
    

  <h1 style="text-align:center; font-size: 18px;">7° ano - Manhã - Sala 03</h1>
    
    <table>
      <tr>
        <th colspan="2" style="text-align:center; font-size: 15px;">Avaliação Matemática</th>
      </tr>
      <tr>
        <th style="text-align:center; font-size: 13px;">Nome</th>
        <th style="text-align:center; font-size: 13px;">Acertos</th>
      </tr>
      
        
      
        
      
        
      
        
      
      </table>
    


<!--<table>-->
<!--  <tr>-->
<!--    <th colspan="2">Nome</th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th>Materia</th>-->
<!--    <th>Acertos</th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Alfreds Futterkiste</td>-->
<!--    <td>Maria Anders</td>-->
<!--  </tr>-->
<!--</table>-->

</section>
</body>
</html>