<!DOCTYPE html>

<html lang="pt-br">
<head>
    <title></title>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Favicon icon -->
    <link rel="icon" href="/static/adm/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- waves.css -->
    <link rel="stylesheet" href="/static/adm/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/static/adm/assets/css/bootstrap/css/bootstrap.min.css">
    <!-- waves.css -->
    <link rel="stylesheet" href="/static/adm/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="/static/adm/assets/icon/themify-icons/themify-icons.css">
    <!-- font-awesome-n -->
    <link rel="stylesheet" type="text/css" href="/static/adm/assets/css/font-awesome-n.min.css">
    <link rel="stylesheet" type="text/css" href="/static/adm/assets/css/font-awesome.min.css">
    <!-- scrollbar.css -->
    <link rel="stylesheet" type="text/css" href="/static/adm/assets/css/jquery.mCustomScrollbar.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/static/adm/assets/css/style.css">
    
    
</head>
<body>

<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <div class="pcoded-inner-content">
            <div class="col-sm-12">
                

<div class="card">
    <div class="card-header">
        <h5>Hover Table</h5>
        <span>use class <code>table-hover</code> inside table element</span>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<h1>Sabino Vieira Cavalcante</h1>

<h6> 1 - Sala 05 - 5° ano </h6>

<p>Tiago Rodrigues -
    
    3 -
</p>

    2 -
</p>


<p>Quintero -
    
    1 -
</p>

    1 -
</p>


<p>Andrey Santos -
    
    2 -
</p>

    3 -
</p>


<p>Yuri Lara -
    
    1 -
</p>

    0 -
</p>


<p>Roberto -
    
    2 -
</p>



<h6> 2 - Sala 06 - 5° ano </h6>

<p>Raniel -
    
    2 -
</p>

    1 -
</p>


<p>Romario -
    
    2 -
</p>

    0 -
</p>


<p>Alex Dias -
    
    1 -
</p>

    1 -
</p>


<p>Luiz Roberto -
    
    0 -
</p>

    0 -
</p>


<p>Galvao Bueno -
    
    0 -
</p>

    0 -
</p>


<p>Tino Marcos -
    
    1 -
</p>

    0 -
</p>



<h6> 3 - Sala 08 - 7° ano </h6>

<p>German Cano -
    
    0 -
</p>


<p>Juscelino -
    
    1 -
</p>


<p>Duarte de Souza -
    
    1 -
</p>


<p>Luiz Adriano -
    
    1 -
</p>


<p>Felipe -
    
    1 -
</p>



<h6> 4 - Sala 10 - 6° ano </h6>

<p>Neymar -
    
    1 -
</p>


<p>Castán -
    
    1 -
</p>


<p>Coutinho -
    
    1 -
</p>


<p>Alisson -
    
    2 -
</p>




            </div>
        </div>
    </div>
    <div id="styleSelector"></div>
</div>

<!-- Required Jquery -->
<script type="text/javascript" src="/static/adm/assets/js/jquery/jquery.min.js "></script>
<script type="text/javascript" src="/static/adm/assets/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/adm/assets/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="/static/adm/assets/js/bootstrap/js/bootstrap.min.js"></script>
<!-- waves js -->
<script src="/static/adm/assets/pages/waves/js/waves.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/static/adm/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>

<!-- slimscroll js -->
<script src="/static/adm/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- menu js -->
<script src="/static/adm/assets/js/pcoded.min.js"></script>
<script src="/static/adm/assets/js/vertical/vertical-layout.min.js"></script>

<script type="text/javascript" src="/static/adm/assets/js/script.js"></script>


</body>
</html>
