<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Relatório Aluno</title>
<style>
table {
  margin-bottom: 24px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<section>
<h1 style="text-align: center; font-size: 22px;" >Escola Raio de Sol</h1>
  <h1 style="text-align:center; font-size: 18px;">7° ano - Integral - Sala 07</h1>
  <h1 style="text-align:center; font-size: 15px;">Avaliação de Hstória</h1>
  <table>
  <tr>
    <th colspan="2" style="text-align:center; font-size: 15px;">Marcos</th>
  </tr>
  <tr>
    <th colspan="2" style="font-size: 12px;">Acertos: 4</th>
  </tr>
  <tr>
    <th style="font-size: 12px;">Questão</th>
    <th style="font-size: 12px;">Correta?</th>
  </tr>
  
    <tr>
    <td>01</td>
    <td> S</i></td>
  </tr>
  
    <tr>
    <td>02</td>
    <td> S</i></td>
  </tr>
  
    <tr>
    <td>03</td>
    <td> S</i></td>
  </tr>
  
    <tr>
    <td>04</td>
    <td>N</i></td>
  </tr>
  
    <tr>
    <td>05</td>
    <td>N</i></td>
  </tr>
  
    <tr>
    <td>06</td>
    <td> S</i></td>
  </tr>
  
  </table>

<!--<table>-->
<!--  <tr>-->
<!--    <th colspan="2">Nome</th>-->
<!--  <e/tr>-->
<!--  <tr>-->
<!--    <th>Questão</th>-->
<!--    <th>Acerto</th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Alfreds Futterkiste</td>-->
<!--    <td>Maria Anders</td>-->
<!--  </tr>-->
<!--</tabl>-->

</section>
</body>
</html>