{% extends 'temp_base/site.html' %}
{% block titulo %}Biblioteca{% endblock %}
{% load static %}
{% block conteudo %}
<div class="jumbotron jumbotron-fluid" style="background-image: linear-gradient(to right, rgba(106,0,255,0.4) 0%, rgba(255,217,0,0.7) 100%), url('{% static 'images/bg_01.jpg' %}'); background-attachment:fixed;">
  <div class="container">
    <h1 class="mb-4 text-white text-center">Biblioteca</h1>
    <h4 class="mb-4 text-white text-center">Em desenvolvimento</h4>
  </div>
</div>
{% endblock %}
