{% extends 'temp_base/site.html' %}
{% block titulo %}Cursos{% endblock %}
{% load static %}
{% block conteudo %}
    <div class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_01.jpg' %}'); background-attachment:fixed;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate text-center">
            <h1 class="mb-4">Cursos</h1>
            <h4 class="mb-4">Em desenvolvimento</h4>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
