<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <title>{% block titulo %}{% endblock %}</title>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="A Secretaria Municipal de Educação - Pedra Branca/CE coordena a
    política educacional em conformidade com as legislações municipal, estadual e federal. Ela é a
    responsável pela administração das unidades escolares do município e tem por objetivos a garantia
     de acesso do aluno à escola e a oferta de um ensino de qualidade, com educadores capacitados e
     estrutura física apropriada." />
    <meta link="canonical" content="https://smepedrabranca.com.br">
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'adm/assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- waves.css -->
    <link rel="stylesheet" href="{% static 'adm/assets/pages/waves/css/waves.min.css' %}" type="text/css" media="all">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'adm/assets/css/bootstrap/css/bootstrap.min.css' %}">
    <!-- waves.css -->
    <link rel="stylesheet" href="{% static 'adm/assets/pages/waves/css/waves.min.css' %}" type="text/css" media="all">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'adm/assets/icon/themify-icons/themify-icons.css' %}">
    <!-- font-awesome-n -->
    <link rel="stylesheet" type="text/css" href="{% static 'adm/assets/css/font-awesome-n.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'adm/assets/css/font-awesome.min.css' %}">
    <!-- scrollbar.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'adm/assets/css/jquery.mCustomScrollbar.css' %}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'adm/assets/css/style.css' %}">
    {% block estatico %}
    {% endblock %}
</head>
<body>
{% if user.is_authenticated and not user.is_administrator and not user.aluno and not user.professor and not funcionario and not user.admin%}
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>

                        <a href="{% url 'escola:dash_escola' %}">
                            <img class="img-fluid" src="{% static 'adm/assets/images/logo.png' %}" alt="Logo" />
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="ti-more"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <a href="#!" class="waves-effect waves-light">
                                    {% block imagem1 %}
                                    <img src="{% static 'adm/assets/images/user.jpg' %}" class="img-radius" alt="Foto_Usuario">
                                    {% endblock %}
                                    <span>{{escola}}</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li class="waves-effect waves-light">
                                        <a href="{% url 'password_change' %}">
                                            <i class="ti-settings"></i> Configurações
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="{% url 'escola:editar_escola' user.pk %}">
                                            <i class="ti-user"></i> Perfil
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="{% url 'logout' %}">
                                            <i class="ti-layout-sidebar-left"></i> Sair
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <hr>
                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a href="{% url 'escola:editar_escola' user.pk %}"><i class="ti-user"></i>Ver Escola</a>
                                            <a href="{% url 'password_change' %}"><i class="ti-settings"></i>Configurações</a>
                                            <a href="{% url 'logout' %}"><i class="ti-layout-sidebar-left"></i>Sair</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active">
                                    <a href="{% url 'escola:dash_escola' %}" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext">Painel</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            {% block painel %}

<!--                            <ul class="pcoded-item pcoded-left-item">-->
<!--                                <li class="pcoded-hasmenu">-->
<!--                                    <a href="{% url 'core:inicio' %}" class="waves-effect waves-dark">-->
<!--                                        <span class="pcoded-micon"><i class="ti-back-left"></i><b>BC</b></span>-->
<!--                                        <span class="pcoded-mtext">Inicio</span>-->
<!--                                        <span class="pcoded-mcaret"></span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->

                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-layout-grid2"></i><b>BC</b></span>
                                        <span class="pcoded-mtext">Escola</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="{% url 'escola:editar_escola' user.pk %}" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Editar Escola</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="{% url 'escola:editar_endereco' user.pk %}" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Editar Endereço</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="{% url 'escola:editar_usuario' user.pk %}" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Editar Login</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="{% url 'password_change' %}" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Editar Senha </span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-user"></i><b>BC</b></span>
                                        <span class="pcoded-mtext">Professores</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="{% url 'funcionario:adicionar_professor' %}" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Adicionar Professor</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="{% url 'funcionario:lista_professores' %}" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Professores</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-layers-alt"></i><b>BC</b></span>
                                        <span class="pcoded-mtext">Salas</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="{% url 'salas:adicionar_sala' %}" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Adicionar Sala</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            {% endblock %}
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            {% for message in messages %}
                                            <div class="col-sm-12">
                                                <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %}>
                                                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                                    <strong>{{message}}</strong>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            {% block conteudo %}
                                            {% endblock %}
                                        </div>
                                    </div>
                                    <!-- Page-body end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'adm/assets/js/jquery/jquery.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'adm/assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'adm/assets/js/popper.js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'adm/assets/js/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- waves js -->
    <script src="{% static 'adm/assets/pages/waves/js/waves.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{% static 'adm/assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

    <!-- slimscroll js -->
    <script src="{% static 'adm/assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

    <!-- menu js -->
    <script src="{% static 'adm/assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'adm/assets/js/vertical/vertical-layout.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'adm/assets/js/script.js' %}"></script>
    {% block script %}
    {% endblock %}
{% else %}
<div class="row text-center">
    <div class="col-sm-12">
        <div class="alert alert-danger" role="alert">
          Você não tem permissão para acessar essa página <a href="{% url 'escola:redirecionar'%}" class="alert-link">Voltar</a>.
        </div>
    </div>
</div>
{% endif %}
</body>
</html>
