<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chegou</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Avaliação</th>
                <th>Aluno</th>
                <th>Entrar</th>
            </tr>
        </thead>
        {% for a in avaliacoes %}
        <tbody>
            <tr>
                <td>{{a}}</td>
                <td>{{a.aluno}}</td>
                <td>
                    <a href="{% url 'aluno:prova' a.pk %}">Entrar</a>
                </td>
            </tr>
        </tbody>
        {% empty %}
        <p>Nenhum aluno cadastrado</p>
        {% endfor %}
    </table>
</body>
</html>